/* .no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}


.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
} */

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}
