/* .address-col {
    grid-column: 0;  */
    /* changed from span 3 to 0 */
  /* }

@media (max-width: 44em) {

  .address-col {
    grid-column: span 3;
  }
}


.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
} */
